body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'sans-serif';
  font-size: 40px;
}

canvas {
  border: 1px solid #aaa;
}

button, input, select {
  font-size: 100%;
}

#message {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 1;
}